<template>
  <div class="Kaart">
    <img alt="klaver 2" :src="tweeklaverenfile" v-if="isKlaverenTwee" />
    <img alt="klaver 3" :src="drieklaverenfile" v-if="isKlaverenDrie" />
    <img alt="klaver 4" :src="vierklaverenfile" v-if="isKlaverenVier" />
    <img alt="klaver 5" :src="vijfklaverenfile" v-if="isKlaverenVijf" />
    <img alt="klaver 6" :src="zesklaverenfile" v-if="isKlaverenZes" />
    <img alt="klaver 7" :src="zevenklaverenfile" v-if="isKlaverenZeven" />
    <img alt="klaver 8" :src="achtklaverenfile" v-if="isKlaverenAcht" />
    <img alt="klaver 9" :src="negenklaverenfile" v-if="isKlaverenNegen" />
    <img alt="klaver 10" :src="tienklaverenfile" v-if="isKlaverenTien" />
    <img alt="klaver boer" :src="boerklaverenfile" v-if="isKlaverenBoer" />
    <img alt="klaver koningin" :src="koninginklaverenfile" v-if="isKlaverenKoningin" />
    <img alt="klaver koning" :src="koningklaverenfile" v-if="isKlaverenKoning" />
    <img alt="klaver aas" :src="aasklaverenfile" v-if="isKlaverenAas" />

    <img alt="koek 2" :src="tweekoekenfile" v-if="iskoekenTwee" />
    <img alt="koek 3" :src="driekoekenfile" v-if="iskoekenDrie" />
    <img alt="koek 4" :src="vierkoekenfile" v-if="iskoekenVier" />
    <img alt="koek 5" :src="vijfkoekenfile" v-if="iskoekenVijf" />
    <img alt="koek 6" :src="zeskoekenfile" v-if="iskoekenZes" />
    <img alt="koek 7" :src="zevenkoekenfile" v-if="iskoekenZeven" />
    <img alt="koek 8" :src="achtkoekenfile" v-if="iskoekenAcht" />
    <img alt="koek 9" :src="negenkoekenfile" v-if="iskoekenNegen" />
    <img alt="koek 10" :src="tienkoekenfile" v-if="iskoekenTien" />
    <img alt="koek boer" :src="boerkoekenfile" v-if="iskoekenBoer" />
    <img alt="koek koningin" :src="koninginkoekenfile" v-if="iskoekenKoningin" />
    <img alt="koek koning" :src="koningkoekenfile" v-if="iskoekenKoning" />
    <img alt="koek aas" :src="aaskoekenfile" v-if="iskoekenAas" />

    <img alt="hart 2" :src="tweehartenfile" v-if="ishartenTwee" />
    <img alt="hart 3" :src="driehartenfile" v-if="ishartenDrie" />
    <img alt="hart 4" :src="vierhartenfile" v-if="ishartenVier" />
    <img alt="hart 5" :src="vijfhartenfile" v-if="ishartenVijf" />
    <img alt="hart 6" :src="zeshartenfile" v-if="ishartenZes" />
    <img alt="hart 7" :src="zevenhartenfile" v-if="ishartenZeven" />
    <img alt="hart 8" :src="achthartenfile" v-if="ishartenAcht" />
    <img alt="hart 9" :src="negenhartenfile" v-if="ishartenNegen" />
    <img alt="hart 10" :src="tienhartenfile" v-if="ishartenTien" />
    <img alt="hart boer" :src="boerhartenfile" v-if="ishartenBoer" />
    <img alt="hart koningin" :src="koninginhartenfile" v-if="ishartenKoningin" />
    <img alt="hart koning" :src="koninghartenfile" v-if="ishartenKoning" />
    <img alt="hart aas" :src="aashartenfile" v-if="ishartenAas" />

    <img alt="schopp 2" :src="tweeschoppenfile" v-if="isschoppenTwee" />
    <img alt="schopp 3" :src="drieschoppenfile" v-if="isschoppenDrie" />
    <img alt="schopp 4" :src="vierschoppenfile" v-if="isschoppenVier" />
    <img alt="schopp 5" :src="vijfschoppenfile" v-if="isschoppenVijf" />
    <img alt="schopp 6" :src="zesschoppenfile" v-if="isschoppenZes" />
    <img alt="schopp 7" :src="zevenschoppenfile" v-if="isschoppenZeven" />
    <img alt="schopp 8" :src="achtschoppenfile" v-if="isschoppenAcht" />
    <img alt="schopp 9" :src="negenschoppenfile" v-if="isschoppenNegen" />
    <img alt="schopp 10" :src="tienschoppenfile" v-if="isschoppenTien" />
    <img alt="schopp boer" :src="boerschoppenfile" v-if="isschoppenBoer" />
    <img alt="schopp koningin" :src="koninginschoppenfile" v-if="isschoppenKoningin" />
    <img alt="schopp koning" :src="koningschoppenfile" v-if="isschoppenKoning" />
    <img alt="schopp aas" :src="aasschoppenfile" v-if="isschoppenAas" />
  </div>
</template>

<script>
import functies from "../checkCard.js";

export default {
  name: 'Kaart',
  data: function() {
    return {
      tweeklaverenfile: require('../assets/2C.jpg'),
      drieklaverenfile: require('../assets/3C.jpg'),
      vierklaverenfile: require('../assets/4C.jpg'),
      vijfklaverenfile: require('../assets/5C.jpg'),
      zesklaverenfile: require('../assets/6C.jpg'),
      zevenklaverenfile: require('../assets/7C.jpg'),
      achtklaverenfile: require('../assets/8C.jpg'),
      negenklaverenfile: require('../assets/9C.jpg'),
      tienklaverenfile: require('../assets/10C.jpg'),
      boerklaverenfile: require('../assets/JC.jpg'),
      koninginklaverenfile: require('../assets/QC.jpg'),
      koningklaverenfile: require('../assets/KC.jpg'),
      aasklaverenfile: require('../assets/AC.jpg'),
      tweekoekenfile: require('../assets/2D.jpg'),
      driekoekenfile: require('../assets/3D.jpg'),
      vierkoekenfile: require('../assets/4D.jpg'),
      vijfkoekenfile: require('../assets/5D.jpg'),
      zeskoekenfile: require('../assets/6D.jpg'),
      zevenkoekenfile: require('../assets/7D.jpg'),
      achtkoekenfile: require('../assets/8D.jpg'),
      negenkoekenfile: require('../assets/9D.jpg'),
      tienkoekenfile: require('../assets/10D.jpg'),
      boerkoekenfile: require('../assets/JD.jpg'),
      koninginkoekenfile: require('../assets/QD.jpg'),
      koningkoekenfile: require('../assets/KD.jpg'),
      aaskoekenfile: require('../assets/AD.jpg'),
      tweehartenfile: require('../assets/2H.jpg'),
      driehartenfile: require('../assets/3H.jpg'),
      vierhartenfile: require('../assets/4H.jpg'),
      vijfhartenfile: require('../assets/5H.jpg'),
      zeshartenfile: require('../assets/6H.jpg'),
      zevenhartenfile: require('../assets/7H.jpg'),
      achthartenfile: require('../assets/8H.jpg'),
      negenhartenfile: require('../assets/9H.jpg'),
      tienhartenfile: require('../assets/10H.jpg'),
      boerhartenfile: require('../assets/JH.jpg'),
      koninginhartenfile: require('../assets/QH.jpg'),
      koninghartenfile: require('../assets/KH.jpg'),
      aashartenfile: require('../assets/AH.jpg'),
      tweeschoppenfile: require('../assets/2S.jpg'),
      drieschoppenfile: require('../assets/3S.jpg'),
      vierschoppenfile: require('../assets/4S.jpg'),
      vijfschoppenfile: require('../assets/5S.jpg'),
      zesschoppenfile: require('../assets/6S.jpg'),
      zevenschoppenfile: require('../assets/7S.jpg'),
      achtschoppenfile: require('../assets/8S.jpg'),
      negenschoppenfile: require('../assets/9S.jpg'),
      tienschoppenfile: require('../assets/10S.jpg'),
      boerschoppenfile: require('../assets/JS.jpg'),
      koninginschoppenfile: require('../assets/QS.jpg'),
      koningschoppenfile: require('../assets/KS.jpg'),
      aasschoppenfile: require('../assets/AS.jpg'),
    };
  },
  props: {
    number: Number,
    kind: Number,
  },
  computed: {
       isKlaverenTwee: function(){
          return functies.isKlaverenTwee(this.number, this.kind);
       },
       isKlaverenDrie: function(){
           return functies.isKlaverenDrie(this.number, this.kind);
       },
       isKlaverenVier: function(){
           return functies.isKlaverenVier(this.number, this.kind);
       },
       isKlaverenVijf: function(){
          return functies.isKlaverenVijf(this.number, this.kind);
       },
        isKlaverenZes: function(){
           return functies.isKlaverenZes(this.number, this.kind);
       },
        isKlaverenZeven: function(){
           return functies.isKlaverenZeven(this.number, this.kind);
       },
        isKlaverenAcht: function(){
           return functies.isKlaverenAcht(this.number, this.kind);
       },
        isKlaverenNegen: function(){
           return functies.isKlaverenNegen(this.number, this.kind);
       },
        isKlaverenTien: function(){
           return functies.isKlaverenTien(this.number, this.kind);
       },
        isKlaverenBoer: function(){
           return functies.isKlaverenBoer(this.number, this.kind);
       },
        isKlaverenKoningin: function(){
           return functies.isKlaverenKoningin(this.number, this.kind);
       },
        isKlaverenKoning: function(){
           return functies.isKlaverenKoning(this.number, this.kind);
       },
        isKlaverenAas: function(){
           return functies.isKlaverenAas(this.number, this.kind);
       },
        iskoekenTwee: function(){
           return functies.iskoekenTwee(this.number, this.kind);
       },
       iskoekenDrie: function(){
           return functies.iskoekenDrie(this.number, this.kind);
       },
       iskoekenVier: function(){
           return functies.iskoekenVier(this.number, this.kind);
       },
        iskoekenVijf: function(){
           return functies.iskoekenVijf(this.number, this.kind);
       },
        iskoekenZes: function(){
           return functies.iskoekenZes(this.number, this.kind);
       },
        iskoekenZeven: function(){
           return functies.iskoekenZeven(this.number, this.kind);
       },
        iskoekenAcht: function(){
           return functies.iskoekenAcht(this.number, this.kind);
       },
        iskoekenNegen: function(){
           return functies.iskoekenNegen(this.number, this.kind);
       },
        iskoekenTien: function(){
           return functies.iskoekenTien(this.number, this.kind);
       },
        iskoekenBoer: function(){
           return functies.iskoekenBoer(this.number, this.kind);
       },
        iskoekenKoningin: function(){
           return functies.iskoekenKoningin(this.number, this.kind);
       },
        iskoekenKoning: function(){
           return functies.iskoekenKoning(this.number, this.kind);
       },
        iskoekenAas: function(){
           return functies.iskoekenAas(this.number, this.kind);
       },
        ishartenTwee: function(){
           return functies.ishartenTwee(this.number, this.kind);
       },
       ishartenDrie: function(){
           return functies.ishartenDrie(this.number, this.kind);
       },
       ishartenVier: function(){
           return functies.ishartenVier(this.number, this.kind);
       },
        ishartenVijf: function(){
           return functies.ishartenVijf(this.number, this.kind);
       },
        ishartenZes: function(){
           return functies.ishartenZes(this.number, this.kind);
       },
        ishartenZeven: function(){
           return functies.ishartenZeven(this.number, this.kind);
       },
        ishartenAcht: function(){
           return functies.ishartenAcht(this.number, this.kind);
       },
        ishartenNegen: function(){
           return functies.ishartenNegen(this.number, this.kind);
       },
        ishartenTien: function(){
           return functies.ishartenTien(this.number, this.kind);
       },
        ishartenBoer: function(){
           return functies.ishartenBoer(this.number, this.kind);
       },
        ishartenKoningin: function(){
           return functies.ishartenKoningin(this.number, this.kind);
       },
        ishartenKoning: function(){
           return functies.ishartenKoning(this.number, this.kind);
       },
        ishartenAas: function(){
           return functies.ishartenAas(this.number, this.kind);
       },
       isschoppenTwee: function(){
           return functies.isschoppenTwee(this.number, this.kind);
       },
       isschoppenDrie: function(){
           return functies.isschoppenDrie(this.number, this.kind);
       },
       isschoppenVier: function(){
           return functies.isschoppenVier(this.number, this.kind);
       },
        isschoppenVijf: function(){
           return functies.isschoppenVijf(this.number, this.kind);
       },
        isschoppenZes: function(){
           return functies.isschoppenZes(this.number, this.kind);
       },
        isschoppenZeven: function(){
           return functies.isschoppenZeven(this.number, this.kind);
       },
        isschoppenAcht: function(){
           return functies.isschoppenAcht(this.number, this.kind);
       },
        isschoppenNegen: function(){
           return functies.isschoppenNegen(this.number, this.kind);
       },
        isschoppenTien: function(){
           return functies.isschoppenTien(this.number, this.kind);
       },
        isschoppenBoer: function(){
           return functies.isschoppenBoer(this.number, this.kind);
       },
        isschoppenKoningin: function(){
           return functies.isschoppenKoningin(this.number, this.kind);
       },
        isschoppenKoning: function(){
           return functies.isschoppenKoning(this.number, this.kind);
       },
        isschoppenAas: function(){
           return functies.isschoppenAas(this.number, this.kind);
       },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
