<template>
  <div class="hello">
    <h1>{{ playerName}}</h1>
    <h3>Kaarten</h3>
    <ul>
      <li><Kaart :number=numberOne :kind=kindOne /></li>
      <li><Kaart :number=numberTwo :kind=kindTwo /></li>
      <li><Kaart :number=numberThree :kind=kindThree /></li>
      <li><Kaart :number=numberFour :kind=kindFour /></li>
      <li><Kaart :number=numberFive :kind=kindFive /></li>
      <li><Kaart :number=numberSix :kind=kindSix /></li>
      <li><Kaart :number=numberSeven :kind=kindSeven /></li>
      <li><Kaart :number=numberEight :kind=kindEight /></li>
    </ul>
  </div>
</template>

<script>
import Kaart from "./Kaart.vue";

export default {
  name: 'SpelerHand',
  props: {
    playerName: String,
    numberOne: Number,
    kindOne: Number,
    numberTwo: Number,
    kindTwo: Number,
    numberThree: Number,
    kindThree: Number,
    numberFour: Number,
    kindFour: Number,
    numberFive: Number,
    kindFive: Number,
    numberSix: Number,
    kindSix: Number,
    numberSeven: Number,
    kindSeven: Number,
    numberEight: Number,
    kindEight: Number,
    rerender: Number
  },
  components: {
    Kaart
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
