<template>
  <div id="app">
    <button v-on:click="shuffle">Shuffle</button>
    <h1>{{ name }}</h1>
    <SpelerHand
      :playerName="playerOne"
      :numberOne="cardsArrayFromStore[0].number"
      :kindOne="cardsArrayFromStore[0].kind"
      :numberTwo="cardsArrayFromStore[1].number"
      :kindTwo="2"
      :numberThree="cardsArrayFromStore[2].number"
      :kindThree="3"
      :numberFour="cardsArrayFromStore[3].number"
      :kindFour="4"
      :numberFive="cardsArrayFromStore[4].number"
      :kindFive="1"
      :numberSix="cardsArrayFromStore[5].number"
      :kindSix="2"
      :numberSeven="cardsArrayFromStore[6].number"
      :kindSeven="3"
      :numberEight="cardsArrayFromStore[7].number"
      :kindEight="4"
    />
    <SpelerHand
      :playerName="playerTwo"
      :numberOne="cardsArrayFromStore[8].number"
      :kindOne="1"
      :numberTwo="cardsArrayFromStore[9].number"
      :kindTwo="2"
      :numberThree="cardsArrayFromStore[10].number"
      :kindThree="3"
      :numberFour="4"
      :kindFour="4"
      :numberFive="5"
      :kindFive="1"
      :numberSix="6"
      :kindSix="2"
      :numberSeven="7"
      :kindSeven="3"
      :numberEight="8"
      :kindEight="4"
    />
    <SpelerHand
      :playerName="playerThree"
      :numberOne="cardsArrayFromStore[16].number"
      :kindOne="1"
      :numberTwo="cardsArrayFromStore[17].number"
      :kindTwo="2"
      :numberThree="cardsArrayFromStore[18].number"
      :kindThree="3"
      :numberFour="4"
      :kindFour="4"
      :numberFive="5"
      :kindFive="1"
      :numberSix="6"
      :kindSix="2"
      :numberSeven="7"
      :kindSeven="3"
      :numberEight="8"
      :kindEight="4"
    />
    <SpelerHand
      :playerName="playerFour"
      :numberOne="cardsArrayFromStore[24].number"
      :kindOne="1"
      :numberTwo="cardsArrayFromStore[25].number"
      :kindTwo="2"
      :numberThree="cardsArrayFromStore[26].number"
      :kindThree="3"
      :numberFour="4"
      :kindFour="4"
      :numberFive="5"
      :kindFive="1"
      :numberSix="6"
      :kindSix="2"
      :numberSeven="7"
      :kindSeven="3"
      :numberEight="8"
      :kindEight="4"
    />
  </div>
</template>

<script>
import SpelerHand from "./components/SpelerHand.vue";

export default {
  name: "app",
  data: function() {
    return {
      name: "De tafel",
      playerOne: this.$store.state.playerOne,
      playerTwo: this.$store.state.playerTwo,
      playerThree: this.$store.state.playerThree,
      playerFour: this.$store.state.playerFour,
      cardsArrayFromStore: this.$store.state.cardsArray
    };
  },
  components: {
    SpelerHand
  },
  methods: {
    shuffle: function() {
      this.$store.commit("shuffle");
      this.cardsArrayFromStore = this.$store.state.cardsArray;
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
